#navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;
    font: 700 3vh 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#nav-item {
    transition: 0.2s
}
/* when hover on nav item change cursor into pointer */
#nav-item:hover {
    scale: 1.05;
    transform: scale(1.05);
    color: #242424;
    cursor: pointer;
}

#gtz-logo {
    margin-left: 2vh;
    width: 10vh;
    height: auto;
}
.nav-item {
    margin-right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 990px) {
    #navbar {
        font: 700 3.5vh 'Poppins', sans-serif;
    }
    
    .navbar-toggler {
        margin: 2vh 1vh 2vh 1vh;
    }
    #gtz-logo {
        margin-left: 0.5vh;
        width: 10vh;
        height: auto;
    }
    .nav-item {
        margin-right: 2vh;
        display: flex;
        justify-content: left;
        align-items: left;
    }
}